.main{
    position:relative;
    z-index: -1;
    height:100%;
    width: 100%;
}
i{
    cursor:pointer;
}
a{
    height:min-content;
}
a:link {text-decoration: none;background-color: transparent;color:inherit}
a:visited {text-decoration: none;background-color: transparent;color:inherit}

.navbar{
    display:flex;
    justify-content: space-between;
    position:fixed;
    width:100%;
    height:100vh;
    padding:55px 0px;
    color:white;
    font-size: 38px;
}
.nav-logo{
    padding-left: 20%;
    white-space: nowrap;
    font-family: 'Do Hyeon', sans-serif;
}
.opac{
    opacity:0;
}
.nav-links{
    display:flex;
    padding-right: 20%;
}
.navbar i{
    font-size: 30px;
    padding-right: 30px;
}

.scroll{
    position:absolute;
    bottom:10%;
    right:50%;
}

.navigation{
    opacity:0;
    position:fixed;
    right:5%;
    top:50%;
    color:white;
}
.navigation ul{
    list-style-type: none;
}
.navigation li{
    font-size: 10px;
    line-height: 2.5;
    cursor:pointer;
}
.circle{
    position:fixed;
    width:20px;
    height:20px;
    right:4.65%;
    border-radius: 10px;
    border:2px solid white;
    background-color: transparent;
}
.on{
    animation:on 1s forwards;
}
@keyframes on{
    0%{}
    100%{opacity:1}
}

.download{
    opacity:0;
    display:flex;
    position:fixed;
    z-index: 10;
    padding:55px 0px;
    top:10%;
    right:15%;
}
.download img{
    width:200px;
    height:220px;
}
@keyframes ddown{
    0%{opacity:0;}
    100%{opacity:1;}
}
.down{
    cursor:pointer;
    animation:ddown 1s ease-in forwards;
}

@keyframes sscale{
    0%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1.0);
    }
}
.section1{
    height:100vh;
    width:100%;
    position:relative;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation:sscale 2s 1;
}
.section{
    background-color: #2ac1bc;
    position:relative;
}

.text{
    position:absolute;
    width:100%;
    top:22%;
    left:20%;
    color:white;
    white-space: nowrap;
}
.text p{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 10px;
}
.text h5{
    font-weight:normal;
}

.app img{
    position:absolute;  
    bottom:0;
    left:66%;
    width:250px;
    height:280px;
    cursor:pointer;
}

.driver{
    text-align: right;
    padding-top: 540px;
    width:100%;
}
.driver img{
    width:200px;
    height:170px;
}
.slide{
    animation:slide 2s forwards;
}
@keyframes slide{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-700px);
    }
}

.people{
    opacity:0;
    text-align: right;
    padding-top:771px;
    padding-right:17%;
    width:100%;
    height:100%;
}
.people img{
    width:400px;
    height:240px;
}
.rise{
    animation: rrise 1.2s ease-in forwards;
}
@keyframes rrise{
    0%{opacity:0;}
    100%{padding-top:481px; opacity:1;}
}

.present{
    opacity:1;
    text-align: right;
    padding-top:710px;
    padding-right:20%;
    width:100%;
    height:100%;
}
.present img{
    width:350px;
    height:100%;
}
.rise2{
    animation: rrise2 1.2s ease-in forwards;
}
@keyframes rrise2{
    0%{opacity:0;}
    100%{padding-top:310px; opacity:1;}
}

.bmart{
    text-align: right;
    width:100%;
    padding-top: 340px;
}
.bmart img{
    width:400px;
    height:260px;
}
.slide2{
    animation:slide2 1.5s forwards
}
@keyframes slide2{
    0%{
    }
    100%{
        transform:translateX(-400px);
    }
}

.flag{
    text-align: right;
    width:100%;
    padding-top:670px;
    padding-right:23%;
}
.flag img{
    width:325px;
    height:370px;
}
.rise3{
    animation:rise3 1.5s forwards;
}
@keyframes rise3{
    0%{}
    100%{padding-top:342px;}
}

.footer{
    background-color: white;
    width:100%;
    height:100vh;
    padding:6.5% 22%;
    z-index: 100;
}
.footer .text{
    color:black;
}
.footer .container{
    position:relative;
    width:100%;
    height:100%;
}
.footer .upper{
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:100%;
}
.footer .bigtitle{
    position:absolute;
    top:0;
    right:18%;
    font-size: 35px;
    line-height: 1.1;
    white-space: nowrap;
}
.footer h2{
    font-family: 'Do Hyeon', sans-serif;
    font-weight:600;
}
.footer h4{
    margin-top: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-weight:550;
    font-size: 23px;
}
.footer .links{
    position:absolute;
    top:0;
    left:0;
    font-size: 32px;
    white-space: nowrap;
}
.footer .page{
    display:flex;
    line-height: 1.5;
    text-decoration-line: underline;
}
.footer .page div{
    padding-right: 23px;
}
.footer .links div{
    font-family: 'Do Hyeon', sans-serif;
}
.footer .links .icons{
    width:200px;
    margin-top: 35px;
    display:flex;
    justify-content: space-between;
}
.foot{
    position:absolute;
    bottom:40%;
    line-height: 1.5;
    font-family: 'Do Hyeon', sans-serif;
    color:rgb(82, 80, 80);
    white-space: nowrap;
}

@media screen and (max-width:1050px){
    .nav-logo{
        padding-left:10%;
    }
    .nav-links{
        display:none;
    }
    .text{left:10%}
    .driver{
        animation:slide 1s reverse;
    }
    .bmart{
        padding-top: 520px;
        animation:slide2 1s reverse;
        transform:scale(0.8);
    }
    .download{
        top:0%;
        right:0%;
        transform:scale(1.2);
    }
    .present{
        padding-right: 5%;
    }
    .flag{
        padding-right: 5%;
    }
    .footer{
        padding:5% 5%;
    }
    .footer .bigtitle{
        position:unset;
    }
    .footer .links{
        position:unset;
    }
    .footer .upper{
        flex-direction: column;
        justify-content: left;
        align-items: unset;
    }
    .footer .links{
        margin-top: 50px;
    }
    .footer .page{
        font-size: 24px;
    }
    .foot{
        position:unset;
    }
    .circle{
        right:4.4%;
    }
}
@media screen and (max-width:800px){
    .nav-logo{
        padding-left:5%;
    }
    .nav-links{
        display:none;
    }
    .text{
        left:5%;
    }
    .text p{
        font-size: 70px;
    }
    .section1 p{
        font-size: 80px;
    }
    .app img{
        left:50%;
    }
    .people{
        padding-right: 0%;
    }
    .present{
        padding-right: 0%;
    }
    .present img{
        margin-top: 70px;
        transform:scale(0.8);
    }
    .flag{
        margin-left: 40px;
        padding-right: 0%;
    }
    .circle{
        right:4.0%;
    }
    .foot{
        font-size: 12px;
        margin-top: 100px;
    }
}
