.main{
    position:relative;
    background-color: #2ac1bc;
    z-index: -1;
    height:100%;
    width: 100%;
    object-fit: contain;
}

.text{
    position:absolute;
    width:100%;
    top:0;
    padding:0 300px;
    padding-top: 160px;
    color:white;
    white-space: nowrap;
}
.text p{
    font-family: 'Jua', sans-serif;
    font-size: 100px;
}

.driver{
    text-align: right;
    padding-top: 550px;
    width:100%;
}
img{
    width:200px;
    height:170px;
}
.slide{
    animation:slide 1s forwards;
}
@keyframes slide{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-700px);
    }
}
@media screen and (max-width:1050px){
    .text{
        padding-left:150px;
    }
    .text p{
        font-size: 80px;
    }
    .driver{
        animation:slide 1s reverse;
    }
}
@media screen and (max-width:750px){
    .text{
        padding-left:50px;
    }
    .text p{
        font-size: 70px;
    }
    
}