* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
}

@keyframes sscale{
    0%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1.0);
    }
}

.nav{
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    height:100vh;
    width: 100%;
    object-fit: contain;
    animation:sscale 2s 1;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding:55px 0;
    color:white;
    font-size: 30px;
}

.nav-logo{
    padding-left: 300px;
    white-space: nowrap;
    font-family: 'Jua', sans-serif;
}
.nav-links{
    display:flex;
    padding-right: 310px;
}

.navbar i{
    font-size: 30px;
    padding-right: 30px;
}

.gongbok{
    position:absolute;
    width:100%;
    top:0;
    padding:0 300px;
    padding-top: 130px;
    color:white;
    white-space: nowrap;
}
.gongbok p{
    font-family: 'Jua', sans-serif;
    font-size: 100px;
}

.download{
    position:fixed;
    top:120px;
    right:250px;
    /* padding-left: 770px;
    padding-top: 100px; */
}
.download img{
    width:200px;
    height:220px;
    cursor:pointer;
}

.app{
    position:relative;
}
.app img{
    position:absolute;  
    bottom:0;
    right:0;
    width:250px;
    height:280px;
    cursor:pointer;
}

@media screen and (max-width:950px){
    .nav-logo{
        padding-left:200px;
    }

    .nav-links{
        display:none;
    }
    .gongbok{
        padding-left:200px;
    }
    .gongbok p{
        font-size: 85px;
    }
}
@media screen and (max-width:750px){
    .nav-logo{
        padding-left:50px;
    }

    .nav-links{
        display:none;
    }
    .gongbok{
        padding-left:50px;
    }
    .gongbok p{
        font-size: 70px;
    }
}